{% extends 'base.html' %}

{% block title %}
Edit Patient BOOKING
{% endblock title %}

{% block body %}

<div class="row">

<div class="col-md-4">
</div>

<div class="col-md-4">
<br>

<h4 class="text-center bg-success text-white">Update Your Slot</h4>
<br>


<form action="/edit/{{posts.pid}}" method="post" class="jumbotron">

 

  <div class="form-group">

    <input type="email" class="form-control" id="email" value={{current_user.email}} name="email" required>
  
  </div>

  <div class="form-group">
  
    <input type="text" class="form-control" id="name" name="name" value={{posts.name}} placeholder="Full Name" required>
  
  </div>

 <div class="form-group">

            
                                      
<select class="form-control" id="gender" name="gender"  required>
        <option selected>{{posts.gender}} </option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>
 
      </select>
 </div>

 <div class="form-group">

            
                                      
<select class="form-control" id="slot" name="slot"  required>
        <option selected>{{posts.slot}} </option>
        <option value="morning">Morning</option>
        <option value="evening">Evening</option>
        <option value="night">Night</option>
 
      </select>
 </div>

  <div class="form-group">
    
    <input type="time" class="form-control" value={{posts.time}}  name="time" placeholder="Time" required>
  
  </div>
  <div class="form-group">
    
    <input type="date" class="form-control" value={{posts.date}}  name="date" placeholder="date" required>
  
  </div>
  <div class="form-group">
    
    <input type="text" class="form-control" value={{posts.disease}}  id="disease" name="disease" placeholder="Disease" required>
  
  </div>

  <div class="form-group">

    <input type="text" class="form-control" value={{posts.dept}}  id="dept" name="dept" placeholder="Doctor Dept" required>
  
  </div>

  <div class="form-group">

    <input type="number" class="form-control" value={{posts.number}}  id="number" name="number" placeholder="Phone Number" required>
  
  </div>

  
  <button type="submit" class="btn btn-warning btn-sm btn-block">Update</button>
</form>




</div>
<div class="col-md-4"></div>
</div>


{% endblock body %}