{% extends 'base.html' %}

{% block title %}
Patients Booking
{% endblock title %}

{% block body %}

<div class="container mt-3">
<div class="row">

<div class="col-md-5">
<div class="card" style="width: 18rem;">
  <img src="static/images/doc.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">HOSPITAL DOCTORS</h6>
    <p class="card-text">Doctors Names</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Contact Us</a>
    <a href="#" class="card-link">About US</a>
  </div>
</div>

</div>

<div class="col-md-5">

<h4 class="text-center bg-dark text-white">Book Your Slot</h4>
<br>


{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}



<form action="/patients" method="post" class="jumbotron">

 

  <div class="form-group">

    <input type="email" class="form-control" id="email" value={{current_user.email}} name="email" required>
  
  </div>

  <div class="form-group">
  
    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
  
  </div>

 <div class="form-group">

            
                                      
<select class="form-control" id="gender" name="gender"  required>
        <option selected>Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>
 
      </select>
 </div>

 <div class="form-group">

            
                                      
<select class="form-control" id="slot" name="slot"  required>
        <option selected>Slot</option>
        <option value="morning">Morning</option>
        <option value="evening">Evening</option>
        <option value="night">Night</option>
 
      </select>
 </div>

  <div class="form-group">
    
    <input type="time" class="form-control" name="time" placeholder="Time" required>
  
  </div>
  <div class="form-group">
    
    <input type="date" class="form-control" name="date" placeholder="date" required>
  
  </div>
  <div class="form-group">
    
    <input type="text" class="form-control" id="disease" name="disease" placeholder="Disease" required>
  
  </div>

<div class="form-group">

            
                                      
<select class="form-control" id="dept" name="dept"  required>
        <option selected>Select Doctor Department</option>
        {% for d in doct  %}
        <option value="{{d.dept}}">{{d.dept}}</option>
        {% endfor %}
      </select>
 </div>

  <div class="form-group">

    <input type="number" class="form-control" id="number" name="number" placeholder="Phone Number" required>
  
  </div>

  
  <button type="submit" id="btn" class="btn btn-dark btn-sm btn-block">Book</button>
</form>

</div>


</div>



</div>




{% endblock body %}